<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vacancies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<h2>
    <a href="/profilePage">Profile</a>
</h2>

<form id="searchForm">
    <label>Input city:
        <input type="text" id="city"/>
    </label>
    <br/>

    <label>Input keyword:
        <input type="text" id="keyword"/>
    </label>
    <br/>

    <label>Sort by date:
        <input type="checkbox" id="sortByDate" name="option1" value="1">Yes
        <input type="checkbox" name="option2" value="0">No<br/>
    </label>
    <br/>
    <button type="button" class="btn btn-primary btn-lg" onclick="searchForm()">send</button>
</form>
<h2>
    <a th:href="@{/logout}">Log out</a>
</h2>
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Vacancy id</th>
        <th scope="col">Vacancy name</th>
        <th scope="col">Date post</th>
        <th scope="col">Hot</th>
        <th scope="col">Salary</th>
        <th scope="col">City</th>
        <th scope="col">Company</th>
        <th scope="col">Short description</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/test.js"></script>
</body>
</html>