<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{vacancies}"
      th:object="${vacancyFormDTO}" method="get">

    <label>Input city:
        <input type="text" th:field="*{city}"/>
    </label>
    <br/>

    <label>Input keyword:
        <input type="text" th:field="*{keyword}"/>
    </label>
    <br/>

    <label>Sort by date:
        <input type="checkbox" th:field="*{sortByDate}" name="option1" value="x1" checked/>Yes
        <input type="checkbox" name="option2" value="x2">No<br/>
    </label>
    <br/>
    <input type="submit" value="send"/>
</form>
<h2>
<a th:href="@{/logout}">Log out</a>
</h2>
</body>
</html>