<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vacanies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
<body>
<div>
    <table border="1">
        <tr>
            <td>Vacancy id</td>
            <td>Vacancy name</td>
            <td>Vacancy date</td>
            <td>Hot</td>
            <td>Salary</td>
            <td>City</td>
            <td>Company</td>
            <td>Short description</td>
        </tr>
        <tr th:each ="vacancy : ${vacancyList}">
            <td th:utext="${vacancy.id}">...</td>
            <td th:utext="${vacancy.name}">...</td>
            <td th:utext="${vacancy.date}">...</td>
            <td th:utext="${vacancy.hot}">...</td>
            <td th:utext="${vacancy.salary}">...</td>
            <td th:utext="${vacancy.cityName}">...</td>
            <td th:utext="${vacancy.companyName}">...</td>
            <td th:utext="${vacancy.shortDescription}">...</td>
<!--            <td>-->
<!--                <form name="form">-->
<!--                    <input type="hidden" id="id" th:value="${vacancy.id}" />-->
<!--                    <input type="hidden" id="name" th:value="${vacancy.name}" />-->
<!--                    <input type="hidden" id="date" th:value="${vacancy.date}" />-->
<!--                    <input type="hidden" id="hot" th:value="${vacancy.hot}" />-->
<!--                    <input type="hidden" id="salary" th:value="${vacancy.salary}" />-->
<!--                    <input type="hidden" id="cityName" th:value="${vacancy.cityName}" />-->
<!--                    <input type="hidden" id="companyName" th:value="${vacancy.companyName}" />-->
<!--                    <input type="hidden" id="shortDescription" th:value="${vacancy.shortDescription}" />-->
<!--                    <button type="button" id="saveButton" class="btn btn-primary btn-lg" onclick="saveButton()">save</button>-->
<!--                </form>-->
<!--            </td>-->
        </tr>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>